
<div class="container ml-0">
  <div class="row">
    <div class="col-6">
      <div class="col-12">
        <h1 style="background-color: gray; text-align: center;"> Tài xế </h1>
      </div>
      <div class="row ml-0">
        <ng-container *ngFor="let desk of array; let i=index;">
          <div class="col-3">
            <button (click)="onAddDesk(i)" style="width: 80px;"
            [ngClass]="desk.isActive === true? 'background-red':''">
            {{desk.id}}</button>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-6">
      <div class="col-12">
        <h1 style="background-color: gray; text-align: center;"> Danh sách ghế đã đặt ({{numberDesk}}) </h1>
      </div>
      <div class="row ml-0">
        <ng-container *ngFor="let list of lists; let j=index;">
          <div class="col-12">
            <h3>Ghế: số {{list.id}} ${{list.price}}
              <span (click)="onRemoveDesk(list.id)" style="color:red;cursor: pointer;">[Hủy]</span>
            </h3>
          </div>
        </ng-container>
      </div>
    </div>
  </div>


</div>
